<!DOCTYPE html>
<html lang="en">
<head>
  <script src="{{url_for('static', filename='js/Head.js')}}"></script>
  <script src="../static/js/password.js"></script>
  <script src="../static/js/HomePage/quiz.js"></script>

  <link href="../static/css/modalQuiz.css" rel="stylesheet">
  <link href="../static/css/flip.css" rel="stylesheet">
</head>

<body>
<!--<script src="{{url_for('static', filename='js/Header.js')}}"></script>-->
<div id="header" class="sticky-top">
  <div class="header-item-left">
    <nav class="navbar">
      <a class="navbar-brand" href="/home"
         style="margin-right: 0 !important;">
        <img src="../static/team-logo-transparent.png" alt="logo" class="logo d-inline-block align-text-top"/>
      </a>
      <a class="nav-link active" href="/home"
         style="padding: 0 !important;"><h5>Nuts&Dairy</h5></a>
    </nav>
  </div>

  <div class="header-item-center"></div>

  <div class="header-item-right">
    <nav class="navbar current-active">
      <a class="nav-link" href="/home"
         style="padding: 0 !important;"><h5 class="current-active">Home</h5></a>
    </nav>
    <!--    <nav class="navbar">-->
    <!--      <a class="nav-link" href="/introduction"-->
    <!--         style="padding: 0 !important;"><h5>Allergy</h5></a>-->
    <!--    </nav>-->
    <nav class="navbar">
      <a class="nav-link" href="/resources"
         style="padding: 0 !important;"><h5>Resource</h5></a>
    </nav>
  </div>
</div>

<div id="main-content">
  <div class="content-block">
    <!--    <div class="content-block-item content-block-item-left fade-in-down">-->
    <!--      <h4 style="text-align: center">BE SAFE | BE HEALTHY</h4>-->
    <!--      <p>-->
    <!--        <strong>Five nuts</strong> focuses on popularising the knowledge of-->
    <!--        food allergies, along with related medical knowledge and first aid-->
    <!--        methods, to help Victorian residents better understand the-->
    <!--        potential health risks of food allergies and raise the awareness-->
    <!--        for prevention.-->
    <!--      </p>-->
    <!--      <br/>-->
    <!--      <h4 style="text-align: center">What is Food Allergy?</h4>-->
    <!--      <p>-->
    <!--        An adverse reaction by the immune system towards a certain type of food is termed as Food Allergy. For many-->
    <!--        sensitive children, minute allergic reaction can be frightening and life-threatening in extreme cases which-->
    <!--        leads to immediate hospitalization.-->
    <!--      </p>-->
    <!--    </div>-->
    <div class="content-block-item content-block-item-right">
      <img
        src="../static/img/main-page-background.png"
        alt="Allergy"
        class="fade-in home-page-img"
      />
    </div>
  </div>

  <div class="content">
    <div class="content-block-item"
         style="margin-top: 50vh">
      <h3 style="text-align: center; color: #fff;">Want to know where you stand?</h3>
      <button class="btn btn-primary"
              style="margin: 0 auto; display: block"
              onclick="openQuiz()">
        Learn More <i class="fas fa-caret-right"></i>
      </button>

      <div id="modalQuiz" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Answer these question to know where you stand</h4>
          </div>
          <div class="modal-body">
            <span>1. Have you searched or learned about food allergies before?</span>
            <br>
            <input type="radio" id="q1-a" name="q1" value="yes">
            <label for="q1-a">a. Yes</label>
            <input type="radio" id="q1-b" name="q1" value="no">
            <label for="q1-b">b. No</label>
          </div>
          <hr>
          <div class="modal-body">
            <span>2. Do you or someone in your family suffer from allergies?</span>
            <br>
            <input type="radio" id="q2-a" name="q2" value="myself">
            <label for="q2-a">a. Myself</label>
            <input type="radio" id="q2-b" name="q2" value="children">
            <label for="q2-b">b. Children</label>
          </div>
          <hr>
          <div class="modal-body">
            <span>3. Which part do you want to know more?</span>
            <br>
            <input type="radio" id="q3-a" name="q3" value="food allergens">
            <label for="q3-a">a. Food Allergens</label>
            <input type="radio" id="q3-b" name="q3" value="symptoms">
            <label for="q3-b">b. Symptoms</label>
            <input type="radio" id="q3-c" name="q3" value="test">
            <label for="q3-c">c. Test</label>
            <input type="radio" id="q3-d" name="q3" value="treatment">
            <label for="q3-d">d. Treatment</label>
          </div>
          <hr>
          <div class="modal-body">
            <span>4. Which part do you want to know more about your children?</span>
            <br>
            <input type="radio" id="q4-a" name="q4" value="education">
            <label for="q4-a">a. Education</label>
            <input type="radio" id="q4-b" name="q4" value="sharing experience">
            <label for="q4-b">b. Sharing Experience</label>
            <input type="radio" id="q4-c" name="q4" value="find recipes">
            <label for="q4-c">c. Find Recipes</label>
            <input type="radio" id="q4-d" name="q4" value="common protective methods">
            <label for="q4-d">d. Common Protective Methods</label>
          </div>
          <hr>
          <div class="modal-footer">
            <button class="btn btn-secondary" onclick="closeQuiz()">Close</button>
            <button class="btn btn-warning" onclick="checkResult()">Submit</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="content">
  <div class="content-block">
    <div class="content-block-item"
         style="margin-top: 35vh">
      <h3 style="text-align: center" id="info-section">It’s not only your Child. Don’t blame them or their
        genetics.</h3>
    </div>
  </div>

  <div class="content-block">
    <div class="content-block-item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="content-block-item flip-title-text"
                 style="color: #652A0E">
              <h3>The Problem</h3>
              <br/>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="content-block-item"
                 style="color: #652A0E;">
              <p>
                Australia has one of the highest rates of food allergies in the world. Accordingly, nuts and dairy
                allergies top
                the chart with increase in cases amongst your children living in Victoria.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block-item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="content-block-item flip-title-text"
                 style="color: #652A0E">
              <h3>The Solution</h3>
              <br/>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="content-block-item"
                 style="color: #652A0E;">
              <p>
                <strong>Five nuts</strong> focuses on popularising the knowledge of
                food allergies, along with related medical knowledge and first aid
                methods, to help Victorian residents better understand the
                potential health risks of food allergies and raise the awareness
                for prevention.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-block">
    <div class="content-block-item">
      <div class="vl">
        <p><strong>3.2</strong> million Australians suffer from food allergies</p>
      </div>
    </div>
    <div class="content-block-item">
      <div class="vl">
        <p>approximately <strong>26.4%</strong> proportion of children aged <strong>2-19</strong> years avoid food due
          to allergy or
          intolerance.</p>
      </div>
    </div>
    <div class="content-block-item">
      <div class="vl">
        <p><strong>17%</strong> of Victorians suffer from food allergy</p>
      </div>
    </div>
  </div>

  <div class="content-block"
       style="margin-top: 2rem;">
    <div class="content-block-item">
      <img src="../static/img/family-eating.png" alt=""/>
    </div>
    <div class="content-block-item"
         style="text-align: left !important; margin-left: 2rem; display: flex; flex-direction: column">
      <div>
        <h4 style="margin-left: 1rem;">What is Food Allergy?</h4>
        <p>
          An adverse reaction by the immune system towards a certain type of food is termed as Food Allergy. For many
          sensitive children, minute allergic reaction can be frightening and life-threatening. In extreme cases it can
          lead to immediate hospitalisation or even death.
        </p>
      </div>
      <div style="display: flex; align-items: center; flex-direction: row">
        <div class="content-block-item">
          <div class="flip-card" style="width: 100%">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="content-block-item flip-title-text"
                     style="color: #652A0E; padding: 50px;">
                  <h3>8 Major Food Allergens</h3>
                  <br/>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="content-block-item"
                     style="color: #652A0E;">
                  <p>
                    <strong>
                      egg, dairy product, peanut, tree nuts, sesame, soy, wheat,
                      fish and other seafood.
                    </strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-item">
          <div class="flip-card" style="width: 100%">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="content-block-item flip-title-text"
                     style="color: #652A0E">
                  <h3>Triggers</h3>
                  <br/>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="content-block-item"
                     style="color: #652A0E; text-align: left">
                  <p>1. Food Intolerance towards specific type of food<br>2. Genetic issues<br>3. Environmental Impact
                    by moving to a different country</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="{{url_for('static', filename='js/Footer.js')}}"></script>
</body>
</html>
