<!DOCTYPE html>
<html lang="en">
  <script src="{{url_for('static', filename='js/Head.js')}}"></script>

  <body class="container">
    <script src="{{url_for('static', filename='js/Header.js')}}"></script>

    <div class="main-content">
      <h1>Home Page</h1>
      <h1>Problem Statment</h1>
      <h1>Persona</h1>
      <h1>Feature</h1>
      <h1>Placeholder</h1>

      <button onclick="sendTestRequest()">Click</button>
      <span id="response"></span>
      <script src="{{url_for('static', filename='js/Click.js')}}"></script>
    </div>

    <script src="{{url_for('static', filename='js/Footer.js')}}"></script>
  </body>
</html>
