<!DOCTYPE html>
<html lang="en">
<head>
  <script src="{{url_for('static', filename='js/Head.js')}}"></script>
</head>

<body class="container">
<script src="{{url_for('static', filename='js/Header.js')}}"></script>

<div id="main-content">
  <div class="content-block">
    <div class="content-block-item content-block-item-left fade-in-down">
      <h4 style="text-align: center">BE SAFE | BE HEALTHY</h4>
      <p>
        <strong>Five nuts</strong> focuses on popularising the knowledge of
        food allergies, along with related medical knowledge and first aid
        methods, to help Victorian residents better understand the
        potential health risks of food allergies and raise the awareness
        for prevention.
      </p>
    </div>
    <div class="content-block-item content-block-item-right">
      <img
        src="../static/img/main-img2-text.jpg"
        alt="Allergy"
        class="fade-in-up"
      />
    </div>
  </div>

  <button onclick="sendTestRequest()" class="btn btn-primary" type="button">
    Quiz
  </button>
  <span id="response"></span>

  <script src="{{url_for('static', filename='js/Click.js')}}"></script>
  <!--  <script src="../static/js/Click.js"></script>-->
</div>

<script src="{{url_for('static', filename='js/Footer.js')}}"></script>
</body>
</html>
