<!DOCTYPE html>
<html lang="en">
<head>
  <script src="{{url_for('static', filename='js/Head.js')}}"></script>
</head>
<body>
<!--<script src="{{url_for('static', filename='js/Header.js')}}"></script>-->
<div id="header" class="sticky-top">
  <div class="header-item-left">
    <nav class="navbar">
      <a class="navbar-brand" href="/home"
         style="margin-right: 0 !important;">
        <img src="../static/team-logo-transparent.png" alt="logo" class="logo d-inline-block align-text-top"/>
      </a>
      <a class="nav-link active" href="/home"
         style="padding: 0 !important;"><h5>Nuts&Dairy</h5></a>
    </nav>
  </div>

  <div class="header-item-center"></div>

  <div class="header-item-right">
    <nav class="navbar current-active">
      <a class="nav-link" href="/home"
         style="padding: 0 !important;"><h5>Home</h5></a>
    </nav>
    <nav class="navbar">
      <a class="nav-link" href="/introduction"
         style="padding: 0 !important;"><h5 class="current-active">Allergy</h5></a>
    </nav>
    <nav class="navbar">
      <a class="nav-link" href="/resources"
         style="padding: 0 !important;"><h5>Resource</h5></a>
    </nav>
    <nav class="navbar">
      <a class="nav-link" href="/quiz"
         style="padding: 0 !important;"><h5>Quiz</h5></a>
    </nav>
  </div>
</div>


<div id="main-content">
  <div class="content-block">
    <div class="content-block-item content-block-item-left fade-in-down">
      <h4 style="text-align: center">Introduction</h4>
      <p>
        Did you know? The most common triggers of food allergy are
        <strong>
          egg, cows’ milk (dairy), peanut, tree nuts, sesame, soy, wheat,
          fish and other seafood.
        </strong>
        But almost any food can cause an allergic reaction, including
        fruits. Those most likely to cause anaphylactic are peanuts, tree
        nuts, shellfish, milk and egg.
      </p>
    </div>
    <div class="content-block-item content-block-item-right">
      <img
        src="../static/img/Eight-Major-Food-Allergens-Design-1.jpg"
        alt="Allergy"
        class="fade-in-up"
      />
    </div>
  </div>

  <div class="content-block">
    <div class="content-block-item content-block-item-right">
      <img
        src="../static/img/introduction-img2.png"
        alt="Allergy"
        class="fade-in-up"
      />
    </div>
    <div class="content-block-item content-block-item-left fade-in-down">
      <h4 style="text-align: center">Cause</h4>
      <p>
        Adverse Reaction Triggering the below-mentioned symptoms:
      </p>
      <p>
        Food Intolerance towards specific type of food
        <br/>
        Genetic issues
        <br/>
        Environmental Impact by moving to a different country
      </p>
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='js/Footer.js')}}"></script>
</body>
</html>
