<!DOCTYPE html>
<html lang="en">
<head>
  <script src="{{url_for('static', filename='js/Head.js')}}"></script>
  <link rel="stylesheet" href="../static/css/resources.css"/>
</head>
<body>
<!--<script src="{{url_for('static', filename='js/Header.js')}}"></script>-->
<div id="header" class="sticky-top">
  <div class="header-item-left">
    <nav class="navbar">
      <a class="navbar-brand" href="/home"
         style="margin-right: 0 !important;">
        <img src="../static/team-logo-transparent.png" alt="logo" class="logo d-inline-block align-text-top"/>
      </a>
      <a class="nav-link active" href="/home"
         style="padding: 0 !important;"><h5>Nuts&Dairy</h5></a>
    </nav>
  </div>

  <div class="header-item-center"></div>

  <div class="header-item-right">
    <nav class="navbar current-active">
      <a class="nav-link" href="/home"
         style="padding: 0 !important;"><h5>Home</h5></a>
    </nav>
    <nav class="navbar">
      <a class="nav-link" href="/introduction"
         style="padding: 0 !important;"><h5>Allergy</h5></a>
    </nav>
    <nav class="navbar">
      <a class="nav-link" href="/resources"
         style="padding: 0 !important;"><h5 class="current-active">Resource</h5></a>
    </nav>
  </div>
</div>


<div id="main-content">
  <div class="content-block container">
    <div class="content-block-item content-block-item-left">
      <strong>The 8 major Food items that cause Allergies:</strong>
      <button class="btn btn-primary content-block-item-left-sub disabled"><span>Tree Nuts</span></button>
      <button class="btn btn-primary content-block-item-left-sub disabled"><span>Eggs</span></button>
      <button class="btn btn-primary content-block-item-left-sub disabled"><span>Milk</span></button>
      <button class="btn btn-primary content-block-item-left-sub disabled"><span>Peanuts</span></button>
      <button class="btn btn-primary content-block-item-left-sub disabled"><span>Shellfish</span></button>
      <button class="btn btn-primary content-block-item-left-sub disabled"><span>Soybeans</span></button>
      <button class="btn btn-primary content-block-item-left-sub disabled"><span>Wheat</span></button>
      <button class="btn btn-primary content-block-item-left-sub disabled"><span>Fish</span></button>
    </div>

    <!--    <div class="content-block-item content-block-item-center">-->
    <!--      <img src="../static/img/allergy-data.jpg" alt=""/>-->
    <!--    </div>-->

    <div class="content-block-item content-block-item-right">
      <div id="pie-chart" style="width: 100%; height: 300%">pie-chart</div>
    </div>
  </div>

  <div class="content-block margin-top container"
  >
    <div class="content-block-item">
      <div id="bar-chart" style="width: 100%; height: 300%" class="content-block-item">
        bar-chart
      </div>
    </div>
  </div>

  <div class="content-block margin-top">
    <div class="content-block-item container" id="articles"></div>
    <script src="{{url_for('static', filename='js/ResourcePage/articles.js')}}"></script>
  </div>
</div>

<script type="text/javascript" src="../static/js/ResourcePage/charts.js"></script>
<script src="{{url_for('static', filename='js/Footer.js')}}"></script>
</body>
</html>
