<!DOCTYPE html>
<html lang="en">
<head>
  <script src="{{url_for('static', filename='js/Head.js')}}"></script>
  <link rel="stylesheet" href="../static/css/resources.css"/>
</head>
<body class="container">
<script src="{{url_for('static', filename='js/Header.js')}}"></script>

<div id="main-content">
  <div class="content-block">
    <div class="content-block-item content-block-item-left">
      <strong>The 8 major Food items that cause Allergies:</strong>
      <button class="btn btn-primary content-block-item-left-sub"><span>Tree Nuts</span></button>
      <button class="btn btn-primary content-block-item-left-sub"><span>Eggs</span></button>
      <button class="btn btn-primary content-block-item-left-sub"><span>Milk</span></button>
      <button class="btn btn-primary content-block-item-left-sub"><span>Peanuts</span></button>
      <button class="btn btn-primary content-block-item-left-sub"><span>Shellfish</span></button>
      <button class="btn btn-primary content-block-item-left-sub"><span>Soybeans</span></button>
      <button class="btn btn-primary content-block-item-left-sub"><span>Wheat</span></button>
      <button class="btn btn-primary content-block-item-left-sub"><span>Fish</span></button>
    </div>

    <div class="content-block-item content-block-item-center">
      <img src="../static/img/allergy-data.jpg" alt=""/>
    </div>

    <div class="content-block-item content-block-item-right">
      <!--      right-->
      <div id="pie-chart" style="width: 100%; height: 300%">pie-chart</div>
      <script type="text/javascript" src="../static/js/ResourcePage/charts.js"></script>
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='js/Footer.js')}}"></script>
</body>
</html>
