html {
  height: 100%;
}

body {
  text-align: center;
  /*background-color: #f8cb74;*/
  background-color: #F5DEB3;
  position: relative;
  margin: 0;
  padding-bottom: 3rem;
  min-height: 100%;
}

p {
  margin: 1rem;
  font-size: 20px;
}

h5 {
  margin: 0;
}

img {
  max-width: 100%;
}

.skip-background-img {
  margin-top: 96vh;
}

.content {
  /*margin: 0.75rem;*/
  width: 80%;
  margin: 0 auto;
}

.vl {
  border-left: 6px solid #f8cb74;
  min-height: 95px;
  position: relative;
  text-align: left;
  /*left: 50%;*/
  /*top: 0;*/
}
