#header {
  margin-top: 3px;
  display: flex;
  align-items: center;
}

.header-item-left {
  flex: 0.35;
  display: flex;
}

.header-item-center {
  flex: 0.15;
  display: flex;
}

.header-item-right {
  flex: 1;
  display: flex;
}

.header-item {
  flex: 1;
  justify-content: space-evenly;
}
