#main-content {
  text-align: left;
  padding-left: 0.75rem;
  margin: 0 auto;
}

.content-block {
  display: flex;
  align-items: center;
}

.content-block-item {
    flex: 1;
    justify-content: space-around;
}

.content-block-item-left {
    padding-right: .75rem;
}

.content-block-item-right {
    padding-left: .75rem;
}

img {
    max-width: 100%;
}