#main-content {
  text-align: left;
  padding-left: 0.75rem;
  margin: 0 auto;
}

.content-block {
  display: flex;
  align-items: center;
}

.content-block-item {
  display: flex;
  flex: 1;
  /* justify-content: center; */
}

.content-block-item-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-block-item-left-sub {
  margin: 0.2rem;
  max-width: 75%;
  min-width: 50%;
  width: 60%;
}

.content-block-item-center {
  flex-grow: 2;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
  margin: 0 auto;
}

.content-block-item-right {
  flex-grow: 2;
}
